name: .NET Core

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
    inputs:
      is_stronginject_release:
        description: Should this be a release or a preview package for Stronginject
        required: true
        default: 'false'
      is_stronginject_extensions_dependencyinjection_release:
        description: Should this be a release or a preview package for Stronginject.Extensions.DependencyInjection
        required: true
        default: 'false'

jobs:
  build-test-push-release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.102'
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-restore --verbosity normal
    - name: Get timestamp
      uses: 1466587594/get-current-time@v1
      id: current-time
      with:
        format: YYYYMMDD-HHmmSS
    
    - name: Pack Preview StrongInject
      run: dotnet pack StrongInject/StrongInject.csproj -c Release --include-source -o out --version-suffix "CI-${{ steps.current-time.outputs.formattedTime }}"
      if: github.event.inputs.is_stronginject_release != 'true'
    - name: Pack Preview StrongInject.Extensions.DependencyInjection
      run: dotnet pack StrongInject.Extensions.DependencyInjection/StrongInject.Extensions.DependencyInjection.csproj -c Release --include-source -o out --version-suffix "CI-${{ steps.current-time.outputs.formattedTime }}"
      if: github.event.inputs.is_stronginject_extensions_dependencyinjection_release != 'true'
    - name: Pack Release StrongInject
      run: dotnet pack StrongInject/StrongInject.csproj -c Release --include-source -o out
      if: github.event.inputs.is_stronginject_release == 'true'
    - name: Pack Release StrongInject.Extensions.DependencyInjection
      run: dotnet pack StrongInject.Extensions.DependencyInjection/StrongInject.Extensions.DependencyInjection.csproj -c Release --include-source -o out
      if: github.event.inputs.is_stronginject_extensions_dependencyinjection_release == 'true'
    
    - name: Push
      if: ${{ success() && github.ref == 'refs/heads/master' }}
      run: |
        dotnet nuget push 'out/*.nupkg' -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
      
  build-test-debug:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.102'
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Debug --no-restore
    - name: Test
      run: dotnet test -c Debug --no-restore --verbosity normal
    - name: Cover
      run: dotnet test --collect:"XPlat Code Coverage" --diag:log.txt
    - name: Move Test Coverage Reports
      run: |
        mv StrongInject.Tests.Unit/TestResults/*/* StrongInject.Tests.Unit/TestResults
        mv StrongInject.Tests.Integration/TestResults/*/* StrongInject.Tests.Integration/TestResults
        mv StrongInject.Extensions.DependencyInjection.Tests/TestResults/*/* StrongInject.Extensions.DependencyInjection.Tests/TestResults
        cat StrongInject.Tests.Unit/TestResults/*
        cat StrongInject.Tests.Integration/TestResults/coverage.cobertura.xml
        cat StrongInject.Extensions.DependencyInjection.Tests/TestResults/coverage.cobertura.xml
    - name: Upload coverage to codacy
      uses: codacy/codacy-coverage-reporter-action@master
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: StrongInject.Tests.Unit/TestResults/coverage.cobertura.xml,StrongInject.Tests.Integration/TestResults/coverage.cobertura.xml,StrongInject.Extensions.DependencyInjection.Tests/TestResults/coverage.cobertura.xml

  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.102'
    - name: Setup MSbuild
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Setup nuget
      uses: nuget/setup-nuget@v1
    - name: Install dependencies
      run: nuget restore
    - name: Build All
      run: msbuild .\StrongInject.sln /verbosity:minimal /t:Rebuild /p:Configuration=All
    - name: Test
      run: dotnet test -c Debug --verbosity normal
